# port to connect to the server
port 54000

# maxmimum number of simultaneously locally running bots
# 0 disables
maxRunningBots 0

# maximum time in seconds to wait for clients to connect when starting a match
startupTimeoutSecs 100
# maximum time in seconds to wait for clients to act during a match 
responseTimeoutSecs 600
# maximum time in seconds allowed for a client to play a given hand
handTimeoutSecs 21000
# average time in seconds allowed for a client to spend on each hand
avgHandTimeSecs 7

# heads up limit Texas Hold'em
game holdem.limit.2p.reverse_blinds.game {

     # maximum number of times a match can be run with a single player request
     maxMatchRuns 10

     # maxmimum number of simultaneously running matches using this game
     # 0 disables
     maxRunningJobs 1

     # number of hands in a match
     matchHands 5000

     # bot botName botStartupScript
     # botStartupScript is run with 3 args: server name, port, local position
     # local postion indicates which LOCAL bot this is (index starting from 0)
     # This is useful when determining which of multiple machines to run on
     bot testBot example_player.limit.2p.sh
}

# heads up limit Texas Hold'em
game holdem.nolimit.2p.reverse_blinds.game {

     # maximum number of times a match can be run with a single player request
     maxMatchRuns 10

     # maxmimum number of simultaneously running matches using this game
     # 0 disables
     maxRunningJobs 1

     # number of hands in a match
     matchHands 5000

     # bot botName botStartupScript
     # botStartupScript is run with 3 args: server name, port, local position
     # local postion indicates which LOCAL bot this is (index starting from 0)
     # This is useful when determining which of multiple machines to run on
     bot testBot example_player.nolimit.2p.sh
}

# heads up limit Texas Hold'em
game holdem.limit.3p.game {

     # maximum number of times a match can be run with a single player request
     maxMatchRuns 10

     # maxmimum number of simultaneously running matches using this game
     # 0 disables
     maxRunningJobs 1

     # number of hands in a match
     matchHands 5000

     # bot botName botStartupScript
     # botStartupScript is run with 3 args: server name, port, local position
     # local postion indicates which LOCAL bot this is (index starting from 0)
     # This is useful when determining which of multiple machines to run on
     bot testBot example_player.limit.3p.sh
}

# Users authorized to run jobs on the benchmark (user name pass)
user neil test
